@page "{id:int?}"
@model blog.Pages.Detalhes
@{
    ViewData["Title"] = "Detalhes";
}


<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="row g-0">
                @if (Model.Filme != null)
                {
                    <h1>@Model.Filme.Titulo</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@Model.Filme.Url" class="img-fluid mx-auto d-block" alt="@Model.Filme.Titulo">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <strong>Nome Original:</strong> @Model.Filme.TituloOriginal
                                </h5>
                                <hr />
                                <span class="card-text"><strong>Direção: </strong> @Model.Filme.Direcao</span><br />
                                <span class="card-text"><strong>Gênero: </strong> @Model.Filme.Genero</span><br />
                                <span class="card-text"><strong>Lançamento: </strong>
                                    @Model.Filme.AnoLancamento</span><br />
                                <span class="card-text"><strong>Duração: </strong> @Model.Filme.Duracao</span><br />
                                <span class="card-text"><strong>IMDB: </strong> @Model.Filme.Imdb</span>
                                <br /><br />

                                <span class="card-text"><strong>Idioma: </strong> @Model.Filme.Idioma</span><br />
                                <span class="card-text"><strong>Nota do Áudio: </strong> @Model.Filme.Audio</span><br />
                                <span class="card-text"><strong>Nota do Vídeo: </strong> @Model.Filme.Video</span>
                                <br /><br />

                                <p class="card-text"><strong>Sinopse: </strong> @Model.Filme.Sinopse</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Publicado em: @Model.Filme.DtStart.ToShortDateString()
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Idioma</th>
                                    <th scope="col">Qualidade</th>
                                    <th scope="col">Tamanho</th>
                                    <th class="text-center" scope="col">Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (@Model.Filme.LinkDownloads != null)
                                {
                                    foreach (var links in Model.Filme.LinkDownloads)
                                    {
                                        <tr>
                                            <th scope="row">@links.Idioma</th>
                                            <td>@links.Qualidade</td>
                                            <td>@links.Tamanho</td>
                                            <td class="text-center"><i class="bi bi-file-earmark-arrow-down"></i></td>
                                        </tr>
                                    }
                                }else{
                                    <tr>
                                        <td colspan="4" class="text-center">Nenhum registro encontrado</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="row mt-5">
                        @if (@Model.Filme.Trailler != null)
                        {
                            <div class="container-fluid mx-auto text-center">
                                <h3>Assita o Trailler</h3>
                                @Html.Raw(@Model.Filme.Trailler)
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-3">
            @if (Model.FilmesMesmoGenero != null)
            {
                foreach (var filme in Model.FilmesMesmoGenero)
                {
                    <div class="card m-2 p-2" style="width: 10rem;">
                        <a asp-area="" asp-page="/Detalhes" asp-route-id="@filme.Id">
                            <img src="@filme.Url" class="card-img-top p-2" alt="...">
                        </a>
                        <h5 class="card-title text-center"><strong>@filme.Titulo</strong></h5>
                        <div class="card-text text-center">
                            IMDB: @filme.Imdb
                        </div>
                    </div>

                }
            }
            else
            {
                <span class="text-center mx-auto">
                    Nenhuma indicação de mesmo gênero
                </span>
            }
        </div>
    </div>
</div>